<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAAdQD2LTZU7vSvSnxAicB5iqSjFYRxEuE</string>
	<key>GCM_SENDER_ID</key>
	<string>577280720690</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.sms.auth</string>
	<key>PROJECT_ID</key>
	<string>sms-auth-aef79</string>
	<key>STORAGE_BUCKET</key>
	<string>sms-auth-aef79.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:577280720690:ios:fd39c0461f2598e35d212b</string>
</dict>
</plist>